#root {
    width: 100%;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

form {
    max-width: 700px;
    margin: 1em auto;
}

.card {
    max-width: 700px;
    padding: 0.5em;
    margin: 1em auto;
    text-align: left;
}

.card p {
    margin: 0;
}

.card button {
    display: block;
    margin-left: auto;
    margin-right: 0;
}
